# ignore every folder named node_modules regardless of scope
*/node_modules/
# Needed to ignore node modules in Naive_sort_projects sub projects and
#   Data_structures sub projects
*/*/node_modules/ 